<head>

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
  <title>Smart Tab</title>
</head>

<body>
  <div class="navigation-bar">
    <a routerlink="/home"><img class="logo" src="assets/logo.png"></a>
    <nav>
      <ul>
        <li *ngIf="!(authStatus$ | async) as authStatus"><a class="button1" (click)="emitClick('.popup-SignIn')">Sign In</a></li>
        <li *ngIf="!(authStatus$ | async) as authStatus"><a class="button2" (click)="emitClick('.popup-SignUp')">Sign Up</a></li>
        <li *ngIf="user$ | async as user;"><p>{{user.name}}</p></li>

      </ul>

    </nav>
    <a (click)="emitClick('.popup-Order')"><img class="receipt-icon" src="assets/home-page-images/receipt.png"></a>

  </div>


</body>
