

<head>
    
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
    <title>Smart Tab</title>
</head>

<body>
        <div class="navigation-bar">
            <a href="customer-home-page.html"><img class="logo" src="assets/logo.png"></a>
            <nav>
                <ul>
                    <li><a class="button1" href="">Sign In</a></li>
                    <li><a class="button2" href="">Sign Up</a></li>
                </ul>
            </nav>
            <img class="receipt-icon" src="assets/home-page-images/receipt.png">
        </div>
</body>