<head>

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
  <title>Smart Tab</title>
</head>

<body>
  <div class="navigation-bar">
    <a href="customer-home-page.html"><img class="logo" src="assets/logo.png"></a>
    <nav>
      <ul>
        <li><a class="button1" (click)="emitClick('.popup-SignIn')">Sign In</a></li>
        <li><a class="button2" (click)="emitClick('.popup-SignUp')">Sign Up</a></li>
        <li>
          <p>klk</p>
        </li>
      </ul>

    </nav>
    <a (click)="emitClick('.popup-Order')"><img class="receipt-icon" src="assets/home-page-images/receipt.png"></a>

  </div>


</body>
