a {
  text-decoration: none;
  color: #18204a;
}

a:hover {
  text-decoration: underline;
}

.checkBackground {
  background-color: white;
}

.fw-bold {
  color: #18204a;
  margin-top: 50px;
}

h4 {
  color: #18204a;
}

.col-9 {
  margin-top: 45px;
}

.row {
  color: #18204a;
}
